.header{
    background-color: #F19143;
    width: 100%;
    height: 60px;
    top:0px;
    left: 0px;
    position: absolute;
}
.picture-slide{
    width: 100%;
    height: 300px;
    position:absolute;
    left: 0px;
    top: 60px;
    border: 1px solid black;
    border-radius: 5px;
}

.picture-slide h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 45;
    margin-top:70px;
}

.main{
    width: 100%;
    position:absolute;
    left: 0px;
    top: 360px;
}

.footer{
    background-color: #F19143;
    width: 100%;
    height: 40px;
    bottom:0px;
    left: 0px;
    position: absolute;
}
